# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Distribution / packaging
.Python
env/
venv/
ENV/
.venv/
build/
dist/
*.egg-info/
.eggs/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/prices/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
